body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: black;
}

main {
    position: relative;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;

    background-image: url(../img/wood_plank.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 25vw;
}

.cookie-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-container {
    display: flex;
    justify-content: center;

    position: absolute;
    text-align: center;
    width: 20vw;

    background-color: rgba(128, 128, 128, 0.596);
}

#count {
    font-size: 3em;
}

.gestion-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: right;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 130vh;
    z-index: -1;
}

.main-content {
    z-index: 1;
    position: relative;
}

.shop-section {
    background-image: url(../img/wood_plank.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 20vw;
    height: 100vh;
}

#cookie.clicked {
    transform: scale(0.9);
    transition: transform 0.05s ease;
}

.shop-title {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.596);
}

.article-name {
    margin-right: 175px;
}

.shop-article {
    display: flex;

    align-items: center;
    background-color: rgb(136, 136, 136);

    margin: 15px 15px;
}

.shop-img {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}