* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: black;
}

main {
    position: relative;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;

    background-image: url(../img/wood_plank.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 25vw;
}

.cookie-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    text-align: center;
    width: 20vw;

    background: rgb(255, 0, 196);
    background: linear-gradient(90deg, rgba(255, 0, 196, 0.5760504885547969) 0%, rgba(156, 0, 255, 0.6824930655856092) 100%);
}

.count-container p {
    font-size: 1.5em;
}

#count {
    font-size: 3em;
}

.gestion-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: right;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 130vh;
    z-index: -1;
}

.main-content {
    z-index: 1;
    position: relative;
}

.shop-section {
    background-image: url(../img/wood_plank.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 20vw;
    height: 100vh;
}

#cookie:hover {
    transform: scale(1.09);
    transition: transform 0.05s ease;
}

#cookie.clicked {
    transform: scale(0.9);
    transition: transform 0.05s ease;
}

.shop-title {
    display: flex;
    justify-content: center;
    background: rgb(255, 0, 196);
    background: linear-gradient(90deg, rgba(255, 0, 196, 0.5760504885547969) 0%, rgba(156, 0, 255, 0.6824930655856092) 100%);
}

.shop-article {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: rgb(136, 136, 136);
    border-radius: 15px;

    margin: 25px 15px;
}

.shop-article:hover {
    transform: scale(1.05);
    transition: transform 0.05s ease;
}

.shop-img {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.price {
    margin-right: 5px;
}